body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0
}
  img {
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    /* set the height to auto to maintain the aspect ratio */
     /* set the height to auto to maintain the aspect ratio */
 }
